/* Section.css */
.custom-section {
  position: relative;
  padding: 5vh 25vh;
  background-color: #f8f8f8; /* Set the background color to the final color */
  z-index: 1; /* Place this section above other content */
  
}
/* Add this CSS to your stylesheet */



.white-sheet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Set the initial background color to white */
  z-index: 2; /* Place the white sheet above other content */
  animation: slideWhiteSheet 1.5s ease-in-out forwards; /* Slide the white sheet to the right (adjust animation duration) */
}

@keyframes slideWhiteSheet {
  from {
    transform: translateX(0); /* Initially visible */
  }
  to {
    transform: translateX(100%); /* Slide the white sheet to the right */
  }
}

/* Other styles remain the same */

/* Other styles remain the same */




nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  opacity: 0; /* Initially hidden */
  animation: fadeInNav 1s ease 1.5s forwards; /* Fade in after 1 second */
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
@keyframes fadeInNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSocialIcons {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

  
  .left {
    color:  #6e9e89;
    font-size: 22px; 
    font-weight: 500;
  }
  a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px; 
    font-weight: 500;
  }

  .social-icons {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 35px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0; /* Initially hidden */
    animation: fadeInSocialIcons 1s ease 1.5s forwards; /* Fade in after 1 second */
  }
  
  .social-icons a {
    color: gray; 
    text-decoration: none;
    font-size: 24px; 
  }
  

  .content-wrapper {
    margin-top: 100px;
    opacity: 0; 
    transform: translateY(30%); /* Initially moved down */
    animation: slideFromBottom 1s ease 2s forwards; /* Slide in from the bottom after 2 seconds */
    height: 100vh;

    
} 

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.content-wrapper h1 {
  color:  #6e9e89;
  font-size: 50px;
  font-weight: lighter;
  margin: auto;
}

.content-wrapper p{
  color:  black;
  font-size: 50px;
  margin-right:70vh;
  margin-top: auto;
  
  font-weight: 500;
}
/* Update your CSS */
.down {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 22vh;
  margin-bottom: 5vh;
  animation: fadeInFromTop 1s ease 2s forwards; /* Apply the same fade-in animation after 2 seconds */
}

.down span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  opacity: 0; /* Initially hidden */
  transform: translateY(100%); /* Move down completely out of view */
  animation: fadeInFromTop 1s ease 2s forwards; /* Apply the same fade-in animation after 2 seconds */
}

  
@media screen and (max-width: 1200px) {
  nav {
    flex-direction: row; 
    align-items: center;
    align-content: center;
  }  nav .left{
   margin-left: 30px;
  }
  nav .right{
    margin-right: 30px;
   }
 
  .custom-section {
      padding: 5vh 0vh;
    }
    .social-icons {
      padding-left: 20px;
      padding-bottom: 25px;
    }
    .social-icons a{
      font-size: 22px;
      padding: 5px;
    }
    
    .content-wrapper h1,p {
      font-size: 36px;
      margin: auto;
    }
    .content-wrapper p{
      font-size: 36px;
      margin-right: 39vh;
      margin-top: 15px;
    }
    .content-wrapper {
      margin-top: 100px;
      margin-left: 80px;
  } 
  .down{
margin-left: 70px;
  }

}

@media screen and (max-width: 500px) {
  .content-wrapper h1, p {
    font-size: 33px;}
  .custom-section {
    padding: 3vh 0vh;
}
  nav {
    flex-direction: row; 
    align-self: space-between;

  }
  nav .left{
 font-size: 13px;
  }
  a{
    font-size: 13px;
     }

}
@media screen and (max-width: 800px){

  .content-wrapper p{
    font-size: 36px;
    margin-right: 16vh;
    margin-top: 15px;
  }
}
@media screen and (max-width: 600px){

  .content-wrapper p{
    font-size: 36px;
    margin-right: 0vh;
    margin-top: 15px;
  }
  .content-wrapper{
    margin-top: 18vh;
    margin-left: 2vh;
  }
}


.typed-cursor {
  display: inline-block;
  width: 1ch; /* Adjust the width of the cursor as needed */
  background-color: black; /* Color of the cursor */
  animation: blinkCursor 1s step-end infinite;
}

@keyframes blinkCursor {
  from, to {
    background-color: black; /* Color of the cursor */
  }
}
